{% extends "base.html" %}
{% load GuessCountry_tags %}
{% load crispy_forms_tags %}
{% load cache %}
{% block content %}
    {% row %}
        <div class="col-8 col-md-6 col-xl-3  mx-auto" id="answer-form">
            <form hx-get="{% url 'GuessCountry:country_check' %}" hx-target="#results">
                <label for="country_name" class="form-label">Enter country name</label>
                <div class="input-group mb-3">
                    <input name="country_name" type="text" class="form-control" id="country_name"
                           placeholder="Enter country name">
                    <input name="mystery_country_pk" type="hidden" class="form-control" id="mystery_country_pk"
                           value="{{ country.pk }}">
                    <button type="submit" class="btn btn-primary" id="index_submit_btn">Submit</button>
                </div>
            </form>
        </div>
    {% endrow %}
    {% row %}
        <div class="col-sm-5 mx-auto" id="results"></div>
    {% endrow %}
    {% row 'border-bottom border-top' %}
        <div class="col-sm-5 mx-auto" id="country_details">
            <p>{{ request.session.country_data|country_details:request.session.num_tries }}</p>
        </div>
    {% endrow %}
{% endblock %}