{% load GuessCountry_tags %}

{# Create alert depending on the result #}
{% alert_format %}

{# Change progress bar #}
<div class="progress-bar" role="progressbar" id="remaining-tries-bar" hx-swap-oob="true"
     style="width: {{ progress_bar_width }}%"
     aria-valuenow="{{ remaining_tries }}"
     aria-valuemin="0"
     aria-valuemax="{{ request.session.max_tries }}">
</div>

<div class="list-group list-group-horizontal-md mx-auto" id="guessed-countries-list" hx-swap-oob="true">
    {% for country_name in request.session.guessed_countries %}
        <button type="button" class="list-group-item list-group-item-action" disabled>{{ country_name }}
        </button>
    {% endfor %}
</div>

{# if game is over, disable input form and show hidden country #}
{% if request.session.finished %}
    <div class="col-8 col-md-6 col-xl-4  mx-auto" id="answer-form" hx-swap-oob="true">
        <form>
            <label for="country_name" class="form-label">Enter country name</label>
            <div class="input-group input-group-lg mb-3">
                <input name="country_name" type="text" class="form-control" id="country_name"
                       placeholder="Enter country name" disabled>
                <button type="submit" class="btn btn-primary" id="index_submit_btn" disabled>Submit</button>
            </div>
        </form>
    </div>
    <div id="country_details" hx-swap-oob="true">
        {{ request.session.country_data|country_details:0 }}
    </div>
{% else %}
    <div id="country_details" hx-swap-oob="true">
        {{ request.session.country_data|country_details:request.session.remaining_tries }}
    </div>
{% endif %}

