* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content-div { padding-top: 10px; }

.navbar {
    background-color: #8A9EA0;
}

.content-block {
    background-color: #DFDBD0 !important;
}

i {
  margin-right: 10px;
}

#index_submit_btn {
}


/*label[for="country_name"] {*/
/*    display: none;*/
/*}*/
